{% extends "base.html" %}

{% block content %}

<h2>{{ titulo }}</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"
            style="padding:6px 14px;
                   background:#2c78be;
                   color:white;
                   border:none;
                   border-radius:5px;">
        Importar
    </button>
</form>



<br><br>
<div style="width: 420px;">

    <table class="table table-striped table-hover">

        <thead style="
            background:#1f4e84;
            color:white;
        ">
            <tr>
                <th style="width:90px;">Año</th>

                <th style="width:70px;">Mes</th>

                <th style="
                    width:120px;
                    text-align:right;
                    padding-right:20px;
                ">
                    Valor
                </th>
            </tr>
        </thead>

        <tbody>

            {% for c in cotizaciones %}
            <tr>

                <!-- Año SIN decimales -->
                <td>
                    {{ c.periodo_anio|stringformat:"d" }}
                </td>

                <!-- Mes con 2 posiciones -->
                <td>
                    {{ c.periodo_mes|stringformat:"02d" }}
                </td>

                <!-- Valor alineado derecha -->
                <td style="
                    text-align:right;
                    padding-right:20px;
                ">
                    {{ c.valor|floatformat:2 }}
                </td>

            </tr>
            {% endfor %}

        </tbody>

    </table>

</div>



{% if resultado %}
<hr>
<h4>Resultado</h4>
<ul>
    <li>Insertadas: {{ resultado.insertadas }}</li>
    <li>Actualizadas: {{ resultado.actualizadas }}</li>
    <li>Omitidas: {{ resultado.omitidas }}</li>
</ul>
{% endif %}

{% endblock %}
