{% extends "base.html" %}
{% load humanize %}

<style>

.tabla-interna{
    font-size:9px !important;
    border-collapse:collapse;
    border-spacing:0;
}

.tabla-interna th,
.tabla-interna td{
    border:1px solid #bfbfbf;
    padding:2px 4px;
    font-size:9px !important;
}

.tabla-interna th{
    background:#f2f2f2;
    font-size:9px !important;
}


.numero{
    text-align:right !important;
    font-size:9px !important;
}

.tabla-interna td.numero{
    text-align:right !important;
    font-variant-numeric: tabular-nums;
    font-size:9px !important;
    padding-right:2px;   /* importante */
}

.tabla-interna th.numero{
    text-align:right !important;
    font-size:9px !important;
}


.texto{
    text-align:left;
}

.tabla-interna td.texto{
    white-space:nowrap;
}

.centro{
    text-align:center;
}

.grilla-scroll{
    overflow-x:auto;
}

.tabla{
    border-collapse:collapse;
    width:100%;
}


.tabla th,
.tabla td{
    border:1px solid #d9d9d9;
    padding:4px 6px;
}



.tabla th{
    background:#f2f2f2;
    font-weight:600;
    border:1px solid #d9d9d9;
    font-size:16px;
}


.tabla th.numero{
    text-align:right !important;
}

.tabla th.texto{
    text-align:left !important;
}

.tabla td.numero{
    text-align:right !important;
}

.tabla td.numero *{
    text-align:right !important;
}


.tabla td{
    font-size:16px;
}

.fila-detalle td{
    padding:0;
}

.tabla-interna td{
    font-size:9px !important;
}

.tabla-interna td.numero{
    font-size:9px !important;
}

.tabla-interna td.numero *{
    font-size:9px !important;
}
.titulo-linea {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  
}
#tablaImportaciones th{
    font-size:20px;
}

#tablaImportaciones td{
    font-size:20px;
    padding:8px 10px;
}

body{
    overflow-x: hidden;
}


#tablaImportaciones thead th{
    background:#174a7c !important;
    color:white !important;
    font-size:20px;
    padding:10px 12px;
    letter-spacing:0.3px;    
}

.fila-importacion td{
    font-size:25px !important;   /* 👈 ESTA es la que querés agrandar */
    font-weight:500;
}

#tablaImportaciones > tbody > tr.fila-importacion > td{
    font-size:25px !important;
    font-weight:500;
}


</style>


{% block content %}

<h2 class="titulo-linea">
    Importar Comisiones Aseguradora
</h2>

<div style="background:white; padding:15px; border-radius:8px; box-shadow:0 2px 6px rgba(0,0,0,0.05);">

<form method="post" enctype="multipart/form-data" 
      style="display:flex; align-items:center; gap:15px; flex-wrap:wrap;">

{% csrf_token %}

<div>
    <label>Aseguradora</label><br>
    <select name="aseguradora_id" style="padding:6px;" required>
        <option value="">Seleccione aseguradora</option>
        {% for a in aseguradoras %}
        <option value="{{ a.id }}" {% if a.id == aseguradora_seleccionada %}selected{% endif %}>
            {{ a.nombre }}
        </option>
        {% endfor %}
    </select>
</div>

<div>
    <label>Archivo</label><br>
    <input type="file" name="archivo" required>
</div>

<div style="margin-top:18px;">
    <button type="submit"
        style="padding:8px 16px; background:#174a7c; color:white; border:none; border-radius:6px;">
        Importar
    </button>
</div>

{% if resultado %}
<div style="margin-top:18px; font-weight:bold; color:#1a7f37;">
    {{ resultado }}
</div>
{% endif %}

</form>



</div>

<th></th>
<th></th>
<table id="tablaImportaciones" class="tabla" style="width:100%">
 
<thead>

<tr><tr><tr><tr>
<th style="width:40px;background:#174a7c !important;    color:white !important;"></th>


<th style="text-align:left; width:30px;background:#174a7c !important;    color:white !important;" onclick="ordenarTabla(1,this)">Fecha</th>
<th style="text-align:left; background:#174a7c !important;    color:white !important;width:80px;" onclick="ordenarTabla(2,this)">Aseguradora</th>
<th style="text-align:Center;background:#174a7c !important;    color:white !important;width:350px;" onclick="ordenarTabla(3,this)">Archivo</th>

<th style="text-align:Center ;background:#174a7c !important;    color:white !important;width:30px;" onclick="ordenarTabla(4,this)">Cant. Registros</th>
<th style="text-align:Center ;background:#174a7c !important;    color:white !important;width:30px;" onclick="ordenarTabla(5,this)">Cant. Clientes</th>
<th style="text-align:Center ;background:#174a7c !important;    color:white !important;width:80px;" onclick="ordenarTabla(6,this)">Comisión Total</th>

<th></th>

</tr>

</thead>

<tbody>

{% for imp in importaciones %}

<tr class="fila-importacion" data-id="{{ imp.id }}" style="cursor:pointer;">
<td id="icono_{{ imp.id }}" onclick="toggleDetalle({{ imp.id }})" style="cursor:pointer;">▶</td>

<td style="white-space:nowrap;">
{{ imp.fecha_importacion|date:"d/m/Y H:i" }}
</td>

<td class="texto">
{{ imp.aseguradora.nombre|slice:":20" }}
</td>

<td class="texto">
{{ imp.nombre_archivo|slice:":50" }}
</td>

<td style="text-align:Center;">
{{ imp.registros }}
</td>


<td style="text-align:Center;">
{{ imp.cantidad_clientes }}
</td>

<td class="numero">
{{ imp.comision_total|floatformat:2 }}
</td>


<td onclick="event.stopPropagation();">

<a href="{% url 'eliminar_importacion' imp.id %}"
onclick="return confirm('¿Eliminar esta importación completa?')">
🗑
</a>

</td>

</tr>

<tr id="detalle_{{ imp.id }}" style="display:none;">

<td colspan="8">

<div class="grilla-scroll">

<table class="tabla-interna" style="width:100%; margin-top:5px;margin-left:60px; table-layout:fixed;">

<tr>

<th style="width:30px;"></th>  <!-- 👈 NUEVO -->
<th class="texto" style="width:110px;background:#174a7c !important;    color:white !important;">Cliente</th>
<th class="texto" style="width:150px;background:#174a7c !important;    color:white !important;">Ramo</th>
<th class="texto" style="width:100px;background:#174a7c !important;    color:white !important;">CUIT</th>
<th class="texto" style="width:100px;background:#174a7c !important;    color:white !important;">Póliza</th>
<th class="numero"style="width:45px;background:#174a7c !important;    color:white !important;">Endos</th>
<th class="texto" style="width:30px;background:#174a7c !important;    color:white !important;">Mon</th>
<th class="numero" style="width:60px;background:#174a7c !important;    color:white !important;">Premio</th>
<th class="numero" style="width:60px;background:#174a7c !important;    color:white !important;">Prima</th>

<th class="numero" style="width:55px;background:#174a7c !important;    color:white !important;">C.Cía</th>
<th class="numero" style="width:55px;background:#174a7c !important;    color:white !important;">C.Agente</th>
<th class="numero" style="width:55px;background:#174a7c !important;    color:white !important;">+Adel</th>
<th class="numero" style="width:55px;background:#174a7c !important;    color:white !important;">-Adel</th>

<th class="numero" style="width:55px;background:#174a7c !important;    color:white !important;">Ag.c/IVA</th>
<th class="numero" style="width:55px;background:#174a7c !important;    color:white !important;">Ag.s/IVA</th>
<th class="numero" style="width:55px;background:#174a7c !important;    color:white !important;">Cotiz</th>
<th class="centro" style="width:10px;background:#174a7c !important;    color:white !important;">Q</th>
<th class="numero" style="width:20px;background:#174a7c !important;    color:white !important;">Meses</th>
<th class="texto" style="width:70px;background:#174a7c !important;    color:white !important;">F.Liq</th>
<th class="texto" style="width:70px;background:#174a7c !important;    color:white !important;">F.Pago</th>

</tr>


{% for linea in imp.lineas.all %}

{% if linea.cliente or linea.poliza or linea.premio or linea.comision_agente %}



<tr data-id="{{ linea.id|floatformat:0 }}">
<td>
    <span onclick="event.stopPropagation(); eliminarLinea(this)">🗑️</span>
</td>



<td class="texto">{{ linea.cliente|slice:":15" }}</td>

<td class="texto">{{ linea.ramo |default:":25"}}</td>

<td class="texto">{{ linea.cuit |slice:":15"}}</td>

<td class="texto">{{ linea.poliza }}</td>
<td class="centro">{{ linea.endoso|default:"" }}</td>
<td class="texto">{{ linea.moneda |default:""}}</td>


<td class="numero">{{ linea.premio|floatformat:2|intcomma }}</td>
<td class="numero">{{ linea.prima|floatformat:2|intcomma }}</td>


<td class="numero">{{ linea.porcentaje|floatformat:2 }}%</td>   

<td class="numero">{{ linea.comision_agente |default:""}}</td>

<td class="numero">{{ linea.comision_adelantada|floatformat:2|intcomma }}</td>

<td class="numero">-{{ linea.descuento_adelanto|floatformat:2|intcomma }}</td>


<td class="numero">{{ linea.comision_agente_con_iva|default:"" }}</td>

<td class="numero">{{ linea.comision_agente_sin_iva|default:"" }}</td>


<td class="numero">{{ linea.cotizacion_dolar|floatformat:2|intcomma }}</td>
<td class="centro">{{ linea.quincena|default:"" }}</td>
<td class="centro">{{ linea.meses_adelanto|default:"" }}</td>

<td class="texto">{{ linea.fecha_liquidacion|date:"d/m/Y" }}</td>
<td class="texto">{{ linea.fecha_pago|date:"d/m/Y" }}</td>
</tr>

{% endif %}

{% empty %}

<tr>
<td colspan="17" style="text-align:center;">
No hay registros
</td>
</tr>

{% endfor %}

</table>

</div>

</td>
</tr>

{% endfor %}

</tbody>
</table>



<script>

function toggleDetalle(id){

let fila = document.getElementById("detalle_" + id)
let icono = document.getElementById("icono_" + id)

if(fila.style.display == "none"){

    fila.style.display = "table-row"
    icono.innerHTML = "▼"

}else{

    fila.style.display = "none"
    icono.innerHTML = "▶"

}

}




function ordenarTabla(col, header){

let tabla = document.getElementById("tablaImportaciones")

let filas = Array.from(tabla.querySelectorAll(".fila-importacion"))

let asc = tabla.getAttribute("data-orden") !== "asc"

filas.sort((a,b)=>{

let A = a.cells[col].innerText.trim()
let B = b.cells[col].innerText.trim()

let numA = parseFloat(A.replace(",","."))
let numB = parseFloat(B.replace(",","."))
if(!isNaN(numA) && !isNaN(numB)) return asc ? numA-numB : numB-numA

return asc ? A.localeCompare(B) : B.localeCompare(A)

})

let tbody = tabla.tBodies[0]

filas.forEach(f=>{

let detalle = document.getElementById("detalle_" + f.dataset.id)

tbody.appendChild(f)
tbody.appendChild(detalle)

})

tabla.setAttribute("data-orden", asc ? "asc":"desc")



/* limpiar flechas anteriores */

let ths = tabla.querySelectorAll("th")

ths.forEach(th=>{
th.innerHTML = th.innerHTML.replace(" ▲","").replace(" ▼","")
})


/* agregar flecha */

if(asc){
header.innerHTML += " ▲"
}else{
header.innerHTML += " ▼"
}

}


function eliminarLinea(btn){

    let fila = btn.closest("tr")
    let id = fila.dataset.id

    // 🔥 limpiar formato raro (1.501 → 1501)
    id = id ? id.toString().replace(/\./g, "") : null

    console.log("ID DETECTADO:", id)

    if(!id){
        alert("ID no encontrado")
        return
    }

    if(!confirm("¿Eliminar esta línea?")) return

    fetch("/liquidacion-eliminar/" + id + "/", {
        method: "POST"
    })
    .then(res => res.json())   // 👈 directo a JSON
    .then(data => {

        if(data.ok){
            fila.remove()
        }else{
            alert("Error al eliminar")
        }

    })
    .catch(err => {
        console.error("ERROR:", err)
        alert("Error de conexión")
    })
}








function guardarEdicion(){

    let id = document.getElementById("edit_id").value

    if(!confirm("Se va a reemplazar la línea. ¿Continuar?")) return

    id = id.toString().replace(/\./g, "")

    fetch("/liquidacion-eliminar/" + id + "/", {
        method: "POST"
    })
    .then(res => res.text())
    .then(data => {
        console.log("RESPUESTA REAL:", data)
    })
    cerrarPanel()
}



</script>




{% endblock %}