{% extends "base.html" %}
{% load humanize %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>

<h2>Reporte de Comisiones</h2>


<style>
.filtros{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    align-items:center;
    margin-bottom:12px;
}

.filtros input,
.filtros select{
    padding:4px;
}


.filtros-linea{
    display:flex;
    gap:12px;
    align-items:center;
    flex-wrap:wrap;
    margin-bottom:8px;
}

.numero{
    text-align:right;
}

.texto{
    text-align:left;
}

.centro{
    text-align:center;
}

tr:hover{
    background:#f5f5f5;
}

th {
    text-align: center;
    vertical-align: middle;
    line-height: 1.2;
}

</style>


<style>
.tabla-comisiones {
    width: 100%;
    font-size: 11px;
    border-collapse: collapse;
}

.tabla-comisiones th,
.tabla-comisiones td {
    padding: 3px 6px;
    white-space: nowrap;   /* 🔥 clave: no corta línea */
}

/* columnas importantes más anchas */

.col-cliente {
    min-width: 220px;
    max-width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-ramo {
    min-width: 160px;
}

/* números alineados */
.numero {
    text-align: right;
}


.tabla-comisiones th{
    background:#174a7c;
    color:white;
    font-weight:600;
    text-align:center;
    border:1px solid #174a7c;
}
.tabla-comisiones th.texto{
    text-align:left;
}

.tabla-comisiones th.numero{
    text-align:right;
}
.btn-buscar{
    background:#174a7c;
    color:white;
    border:none;
    padding:6px 14px;
    border-radius:6px;
    cursor:pointer;
    font-weight:500;
}

.btn-buscar:hover{
    background:#123a61;
}

/* Excel separado + otro color */
.btn-excel{
    background:#1a7f37;
    color:white;
    border:none;
    padding:6px 14px;
    border-radius:6px;
    cursor:pointer;
    font-weight:500;

    margin-left:60px;   /* 👈 separación */
}

.btn-excel:hover{
    background:#146c2e;
}
.izq {
    text-align: left;
}
</style>

<style>
.modal-grafico{
    display:none;
    position:fixed;
    z-index:9999;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
}

.modal-contenido{
    background:white;
    margin:5% auto;
    padding:20px;
    width:80%;
    max-width:900px;
    border-radius:10px;
    position:relative;
}

.cerrar{
    position:absolute;
    top:10px;
    right:15px;
    font-size:22px;
    cursor:pointer;
}
</style>

<div class="filtros-box">

    <form method="get">

    <div class="filtros-linea">

        PAS

        <select name="pas">
            <option value="">Todos</option>
            <option value="SOLO" {% if request.GET.pas == "SOLO" %}selected{% endif %}>Solo PAS</option>

            {% for p in pas %}
            <option value="{{p.codigo_pas}}"
            {% if request.GET.pas == p.codigo_pas %}selected{% endif %}>
            {{p.codigo_pas}} - {{p.nombre}}
            </option>
            {% endfor %}
        </select>



        Aseguradora
        <select name="aseguradora">
        <option value="">Todas</option>
        {% for a in aseguradoras %}
        <option value="{{a.id}}"
        {% if request.GET.aseguradora == a.id|stringformat:"s" %}selected{% endif %}>
        {{a.nombre}}
        </option>
        {% endfor %}
        </select>

        Cliente clave1
        <input type="text" name="clave1" value="{{request.GET.clave1}}">

        Cliente clave2
        <input type="text" name="clave2" value="{{request.GET.clave2}}">

    </div>

    <div class="filtros-linea">

        Fecha desde
        <input type="date" name="fecha_desde" value="{{request.GET.fecha_desde}}">

        Fecha hasta
        <input type="date" name="fecha_hasta" value="{{request.GET.fecha_hasta}}">

        <label>
            <input type="checkbox" name="solo_pas" value="1"
            {% if request.GET.solo_pas == "1" %}checked{% endif %}>
            Destino (PAS)
        </label>

        <button type="submit" class="btn-buscar">🔍 Buscar</button>
        <button type="submit" name="exportar" value="excel" class="btn-excel">
            📥 Descargar
        </button>


        <button type="submit" name="ver_grafico" value="1" class="btn-buscar">
            📊 Ver gráfico
        </button>

        <button type="button"
                class="btn-buscar"
                onclick="mostrarGraficoPASS()">
            📈 PASS
        </button>



    </div>
    </form>
</div>


<div style="overflow-x:auto;">



    <table border="1" class="tabla-comisiones">
    <tr>

    <th>Fecha<br>Liquida</th>
    <th>Q</th>
    <th>Aseg</th>
    <th>Pas</th>
    <th class="texto">Cliente</th>
    <th>Ramo</th>
    <th>Poliza</th>
    <th>Endoso</th>
    <th>Moneda</th>

    
    <th>Cotizac<br>Dólar</th>
    <th>Prima<br>U$S</th>
    <th>Meses</th>
    <th>Prima</th>
    {% if request.GET.solo_pas != "1" %}
    <th>%</th>
    <th>Comisión<br>Agente</th>
    
    <th>Desc.<br>Adelanto</th>
    <th>Comisión<br>Adelantada</th>
    {% endif %}

    <th>% PAS</th>
    <th>Comisión<br>PAS</th>
    <th>Comisión<br>PAS s/IVA</th>

    </tr>


    {% for d in datos %}

    <tr>
    <td class="texto">{{d.fecha|date:"d/m/y"}}</td>

    <td>
        {% if d.quincena and d.quincena != "0" %}
            {{ d.quincena }}
        {% endif %}
    </td>

    <td>{{d.aseg}}</td>

    <td>
        {% if pas_seleccionado %}
            {{ pas_seleccionado }}
        {% else %}
            {{ d.pas_nombre|default:"-" }}
        {% endif %}
    </td>


    <td class="col-cliente">{{d.cliente}}</td>

    <td>{{ d.ramo|default_if_none:""|default:""|truncatechars:20  }}</td>


    <td>{{d.poliza}}</td>

    <td class="centro">
        {% if d.endoso %}
            {{ d.endoso }}
        {% endif %}
    </td>
    
    <td class="centro">{{d.moneda}}</td>
    <td class="numero">{{d.cotizacion|floatformat:2|intcomma}}</td>

    <td>
        {% if d.moneda == "U$S" %}
            {{ d.prima_original|floatformat:2 }}
        {% endif %}
    </td>

    <td class="centro">
        {{ d.meses|default:"" }}
    </td>

    <td class="numero">{{d.prima|default:""|floatformat:2 }}</td>

    {% if request.GET.solo_pas != "1" %}

    <td class="numero">
        {{ d.porcentaje|floatformat:2 }}%
    </td>

    <td class="numero">{{d.comision_agente|default:""|floatformat:2 }}</td>
    <td class="numero">{{d.descuento_adelanto|floatformat:2}}</td>
    <td>{{d.comision_adelantada|default:""}}</td>

    {% endif %}

    <td class="numero">{{ d.porcentaje_pas|default:0|floatformat:2 }}%</td>
    <td class="numero">{{ d.comision_pas|floatformat:2|intcomma }}</td>
    <td class="numero">{{ d.comision_pas_sin_iva|floatformat:2|intcomma }}</td>

    </tr>

    {% endfor %}

    <tr style="font-weight:bold; background:#f0f4fa; border-top:2px solid #244c7a;">

    {% if request.GET.solo_pas == "1" %}

        <td colspan="14">TOTAL</td>
        <td></td>
        <td class="numero">
            {{ total_comision_pas_sin_iva|floatformat:2|intcomma }}
        </td>

    {% else %}

        <td colspan="13">TOTAL</td>
        <td></td>
        <td class="numero">{{ total_comision|floatformat:2|intcomma }} </td>  <!-- Comisión Agente -->
        <td></td><!-- Desc Adelanto -->
        <td></td><!-- Comisión Adelantada -->
        <td></td><!-- % PAS -->
        <td></td><!-- Comisión PAS -->
        <td class="numero"> {{ total_comision_pas_sin_iva|floatformat:2|intcomma }} </td> <!-- Comisión PAS s/IVA -->

    {% endif %}

    </tr>


    </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    
    {{ totales_pas|json_script:"totales-pas-data" }}
    {{ totales_agente|json_script:"totales-agente-data" }}
    {{ grafico_pass|json_script:"grafico-pass-data" }}

    <div id="modal-grafico" class="modal-grafico">

        <div class="modal-contenido">

            <span class="cerrar" onclick="cerrarGrafico()">✖</span>

            <canvas id="graficoComisiones"></canvas>

        </div>

    </div>




    <script>

    let grafico = null;

    function mostrarGrafico(){

        document.getElementById("modal-grafico").style.display = "block";

        const totalesPAS = JSON.parse(document.getElementById('totales-pas-data').textContent);
        const totalesAgente = JSON.parse(document.getElementById('totales-agente-data').textContent);

        
        const labels = [];
        const dataPAS = [];
        const dataAgente = [];

        for (const pas in totalesPAS){
            labels.push(pas);
            dataPAS.push(totalesPAS[pas]);
            dataAgente.push(totalesAgente[pas] || 0);
        }

     

        if (grafico){
            grafico.destroy();
        }
        const ctx = document.getElementById('graficoComisiones').getContext('2d');

        const mostrarValores = {
            id: "mostrarValores",
            afterDatasetsDraw(chart){

                const { ctx } = chart;

                chart.data.datasets.forEach((dataset, datasetIndex) => {

                    if(dataset.hidden) return;

                    const meta = chart.getDatasetMeta(datasetIndex);
                    if (!meta || !meta.data) return;

                    meta.data.forEach((element, index) => {

                        const value = dataset.data[index];

                        if (!value || value <= 0){
                            return;
                        }


                        ctx.save();

                        ctx.font = "bold 11px Arial";
                        ctx.fillStyle = "#000";
                        ctx.textAlign = "center";

                        // 🔥 POSICIÓN REAL SOBRE LA BARRA
                        const y = element.y - 12;

                        ctx.fillText(

                            dataset.label +

                            "   $ " +

                            Number(value).toLocaleString(
                                "es-AR",
                                { maximumFractionDigits: 0 }
                            ),

                            element.x,
                            element.y + (element.height / 2)

                        );



                        ctx.restore();
                    });
                });
            }
        };


        grafico = new Chart(ctx, {
            type: 'bar',

            plugins: [mostrarValores],   // 👈 👈 👈 ESTA LÍNEA FALTABA
  
            data: {
                labels: labels,
                datasets: [
                    {
                        label: 'Comisión PAS s/IVA',
                        data: dataPAS,
                        backgroundColor: 'rgba(41, 128, 185, 0.7)',
                        borderColor: 'rgba(41, 128, 185, 1)',
                        borderWidth: 0.5,
                        barPercentage: 1,
                        categoryPercentage: 0.8
                    },
                    {
                        label: 'Comisión Agente',
                        data: dataAgente,
                        backgroundColor: 'rgba(192, 57, 43, 0.7)',
                        borderColor: 'rgba(192, 57, 43, 1)',
                        borderWidth: 0.5,
                        barPercentage: 1,
                        categoryPercentage: 0.8
                    }
                ]
            },

            options: {
  

                // 👇 AHORA SÍ dentro de options
                scales: {
                    y: {
                        beginAtZero: true,
                        grace: '15%'
                    }
                }
            }
        });


        }  // 👈 CIERRA mostrarGrafico()


    function mostrarGraficoPASS(){

        document.getElementById("modal-grafico").style.display = "block";

        const graficoPASS = JSON.parse(
            document.getElementById('grafico-pass-data').textContent
        );

        const datosOrdenados = Object.entries(graficoPASS)

            .map(([pas, datos]) => {

                const total = Object.values(datos)

                    .reduce((a,b)=>a+b,0);

                return {
                    pas,
                    datos,
                    total
                };

            })

            .sort((a,b)=>b.total-a.total);


        const labels = datosOrdenados.map(x => x.pas);


        const totalPorAseguradora = {};

        datosOrdenados.forEach(x => {

            Object.entries(x.datos).forEach(([aseg, valor]) => {

                if (!totalPorAseguradora[aseg]){
                    totalPorAseguradora[aseg] = 0;
                }

                totalPorAseguradora[aseg] += valor;

            });

        });


        const aseguradorasOrdenadas = Object.entries(totalPorAseguradora)

            .sort((a,b)=>b[1]-a[1])

            .map(x=>x[0]);


        const datasets = [];


        aseguradorasOrdenadas.forEach((aseg, idx) => {

            datasets.push({

                label: aseg,

                data: datosOrdenados.map(
                    x => x.datos[aseg] || 0
                ),

                borderWidth:1
            });

        });



        if (grafico){
            grafico.destroy();
        }

        const ctx = document
            .getElementById('graficoComisiones')
            .getContext('2d');



        const mostrarValores = {

            id: "mostrarValores",

            afterDatasetsDraw(chart){

                const { ctx } = chart;

                chart.data.datasets.forEach((dataset, datasetIndex) => {

                    const meta = chart.getDatasetMeta(datasetIndex);

                    meta.data.forEach((element, index) => {

                        const value = dataset.data[index];
                        if (!value || value <= 0){
                            return;
                        }
                        ctx.save();

                        ctx.font = "bold 11px Arial";

                        ctx.fillStyle = "#000";

                        ctx.textAlign = "center";

                        const texto =

                            dataset.label +

                            "  $ " +

                            Number(value).toLocaleString(
                                "es-AR",
                                { maximumFractionDigits: 0 }
                            );

                        ctx.font = "bold 10px Arial";

                        ctx.fillStyle = "#000";

                        ctx.textAlign = "left";

                        ctx.fillText(

                            texto,

                            element.x - (element.width / 2) + 5,

                            element.y + (element.height / 2)

                        );



                        ctx.restore();
                    });
                });
            }
        };




        grafico = new Chart(ctx, {

            type: 'bar',
            plugins: [mostrarValores],

            data: {
                labels: labels,

                datasets: datasets


            },

            options: {

                responsive:true,

                plugins:{
                    legend:{
                        display:true
                    }
                },


                scales:{
                    x:{
                        stacked:true
                    },

                    y:{
                        stacked:true,
                        beginAtZero:true,
                        grace:'15%'
                    }
                }

            }
        });
    }




    function cerrarGrafico(){
        document.getElementById("modal-grafico").style.display = "none";
    }


    function irYGraficar(){

        const params = new URLSearchParams(window.location.search);
        params.set("ver_grafico", "1");

        window.location.search = params.toString();
    }

    window.onload = function(){
        const auto = "{{ ver_grafico }}";
        if (auto === "1"){
            mostrarGrafico();
        }
    }

    window.addEventListener("load", function(){
        if ("{{ ver_grafico }}" === "1"){
            mostrarGrafico();
        }
    });

    // 💎 BONUS ACA 👇
    window.onclick = function(event){
        const modal = document.getElementById("modal-grafico");
        if (event.target === modal){
            modal.style.display = "none";
        }
    }

    </script>

</div>
{% endblock %}

